/*general*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif; 
    scroll-behavior: smooth;
}
body{
    font-size: 0.1rem
}
a{text-decoration: none;}
ul{list-style: none;}
.container,.content-opacite{
    max-width: 1250px;
    margin: auto;
    padding: 0 20px;
}
/*header*/
header{
    width: 100vw;
    padding: 1em 0;
    background-color: #191919;
    box-shadow: 0 2px 10px #00000023;
    position: fixed;
    z-index: 999;
}
header .container{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.logo{
    color: #3DB2FF;
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}
header ul{
    display: flex;
}
header ul li{
    margin-left: 20px;
}
header ul li a{
    font-size: 1.3em;
    color: #3DB2FF;
    text-transform: capitalize;
    transition: color 0.6s ease-in-out;
}
header ul li a:hover{
    color: #f0f0f0;
}
/*main*/
.who-ami-i{
    overflow: hidden;
    height: 100vh;
    background-image: url('img/artificial-intelligence-blur-close-up-546819-1-4200x2100.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.opacite{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.714);
}
.content-opacite{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content-opacite h2 , .content-opacite h1 , .content-opacite h3{
    margin: 20px 0;
}
.content-opacite h2{
    font-size: 1.8em;
    color: #f0f0f0;
    letter-spacing: 1px;
}
.content-opacite h2 span{
    color: #3DB2FF;
    text-transform: capitalize;
}
.content-opacite h1{
    font-size: 3em;
    color: #0d93ec;
    text-transform: capitalize;
}
.content-opacite h3{
    font-size: 1.6em;
    font-weight: bold;
    color: #f0f0f0;
}
.content-opacite article:last-child button{
    cursor: pointer;
    margin: 25px 0;
    padding: 1.4em 3.7em;
    letter-spacing: 1px;
    color: #f0f0f0;
    font-weight: 600;
    background-color: #0d93ec;
    border: none;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}
.content-opacite article:last-child button:hover{
    transform: scaleX(1.02);
    background-color: #3DB2FF;
}
.content-opacite article:last-child a{
    color: #f0f0f0;
    font-size: 2em;
    margin-right: 20px;
}
.content-main section{
    padding: 3em 0;
}
.content-main h2{
    text-align: center;
    color: #0d93ec;
    font-size: 2.2em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 1em 0;
}
.content-main article{
    height: 17em;
    width: 24em;
    margin: 15px;
    /* text-align: center; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.114);
}
.content-main article .fa{
    color: #3DB2FF;
    font-size: 5em;
}
section article p{
    text-align: center;
    line-height: 1.5;
}
.art{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
}
.content-main .project{
    background-color: #191919;
    text-align: center;
    padding: 5em 0;
}
.content-main a{
    color: #0d93ec;
    font-size: 1.5em;
    text-transform: capitalize;
}
.contact{
    display: block;
    margin: auto;
    background-color: #eee;
}
.contact div{
    margin: 15px 0;
}
.contact div input{
    margin: 7px 0;
    height: 2.8em;
    width: 25em;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.contact div textarea{
    margin: 7px 0;
    width: 25em;
    height: 10.7em;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.contact label{
    letter-spacing: 1px;
    font-size: 1.02em;
    text-transform: capitalize;
}
.contact input[type=submit]{
    cursor: pointer;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 600;
    background-color: #3DB2FF;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
footer .container{
    padding: 1.2em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .container p{
    margin: 5px;
}
@media only screen and (max-width: 464px){
    body{
        font-size: 13px;
    }
}
@media only screen and (max-width: 340px){
    body{
        font-size: 10px;
        width: 100vw;
    }
    .contact div input , .contact div textarea{
        width: 22em;
    }
}
@media only screen and (max-width: 290px){
    body{
        font-size: 10px;
        width: 100vw;
    }
    .contact div input , .contact div textarea{
        width: 19em;
    }
}
